BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 140
UseTab: Never

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: All

BinPackArguments: true
BinPackParameters: true
PackConstructorInitializers: CurrentLine

PointerAlignment: Right
ReferenceAlignment: Right

SortIncludes: true
IncludeBlocks: Regroup

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

NamespaceIndentation: None

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

ReflowComments: false