[submodule "vendor/llama.cpp"]
	path = vendor/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "vendor/rocksdb"]
	path = vendor/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "vendor/simdjson"]
	path = vendor/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "vendor/onnxruntime"]
	path = vendor/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
	branch = v1.27.1
	shallow = true
